<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href"/assets/css/style.css" type="text/css" />
    <title>Dating Site</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    
    //link js file in public - assets - js here
    <script src=""></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>



