<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light nav-yellow">
    <div class="container-fluid">
      <a class='navbar-brand' href='/'> <img class="minion" id="mm_logo" src="/assets/img/logo.png"></a>
      <div class="collapse navbar-collapse nav-right" id="navbarNav">
        <ul class="navbar-nav nav-end">
          <li class="nav-item">
            <a class="nav-link" href="/signup">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Your Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="http://localhost:3001/chatindex.html">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    {{{ body }}}
  </div>


<script type="text/javascript" src="/assets/js/main.js"></script>
</body>

</html>