<div id='minion-hero' class='jumbotron jumbotron-fluid'>
    <div class='container top'>
        <h1 class='landing'> mingle </h1>
        <h2 class='sub-landing'> with fellow minions </h2>
    </div>


<div class='container mingle'>

<!-- begin filler text -->
<p> Bello! Here at MinionMingle a papagena (beautiful person) like yourself can meet other minion lovers with similar interests/hobbies. In these unprecedented times it is so important to connect with other people and we want to make that easy for you. You can send direct messages to other users that you match with to invite them to chat with you in our minioncord!  </p>

<p> MinionMingle is one of the pioneers among online dating sites, our service matches couples based on users interests and compatibility. MinionMingle has a highly educated membership, so it’s a good choice if you’re looking for good conversations: 15% of its members have above-average education, while 10% are over 20, adding life experience into the mix. </p>

<p> Traditional Internet dating can be challenging for those singles looking for love that lasts - but MinionMingle is not a traditional dating site. Of all the single men or women you may meet online, very few will be compatible with you specifically, and it can be difficult to determine the level of compatibility of a potential partner through methods of other dating services – swiping profile photos, browsing classified ads or online personals. Our Compatibility Matching System does the work for you by narrowing the field from thousands of single prospects to match you with a select group of compatible matches with whom you can build a quality relationship. </p>
<!-- end filler text -->

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Simply the Best!</h5>
      <p class="card-text">“I tried so many other websites and failed to find love but Minion Mingle helped me find my forever and I am so grateful!”</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@minionbabe36</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">True Banana!</h5>
      <p class="card-text">“MinionMingle brought me and my now wife together. Without this app I would have never found someone that would bake me minion cookies.”</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@beedobeedo</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Marriage? On <i>my</i> dating app?</h5>
      <p class="card-text">“If it weren’t for MinionMingle I wouldn’t have met Kevin. We’ve been happily together for 3 years now!”</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@muakmuak2003</small>
    </div>
  </div>
</div>

</div>
</div> <br/>