<div id='background-bubble'> </div> <!-- might use this might not -->

<div id='minion-hero' class='jumbotron jumbotron-fluid'>
    <div class='container'>
        <h1 class='landing'> mingle </h1>
        <h2 class='sub-landing'> with fellow minions </h2>
    </div>
</div>