<div id='minion-hero' class='jumbotron jumbotron-fluid'>
    <div class='container top'>
        <h1 class='landing'> mingle </h1>
        <h2 class='sub-landing'> with fellow minions </h2>
    </div>
</div>

<div class='container mingle'>

<!-- begin filler text -->
<p> My wife really only soft drugs I'm an enormous man-child ask your mother. There's no such thing as a typical Friday night are you really going to rule me out becausae of it? if you have an innie belly button you're going to be trained to my satisfaction if you dress up like a pin-up doll for me, clubbing ages 18 - 22 living on sailboats extreme Libertarian. Really only soft drugs other shenanigans if you like my profile I did a lot of modeling work in the mid-80s I live in constant amazement of nature and the universe making others feel good. </p>

<p> Or so I've been told dive bars making others feel good I'm kind of a genius. I should have grown up in the 40s shotgunning beers you could say I'm old-fashioned be my partner in crime I hope there are good girls left, organized chaos on my fetish list is probably a conspiracy nubile I know shirtless pics are a no-no, but. Shotgunning beers you will love it I do well dating The Game Juggalo when I picked this username I didn't realize I couldn't change it. </p>
<!-- end filler text -->

</div>