<img class="minion" id="mm_logo" src="">

<div class="container" id="login">
    <p>Login</p>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's username"
        aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Login</button>
    </div>
</div>

<button type="button" class="btn btn-primary">Sign Up</button>