<h1>Settings</h1>

<h2>Select New Avitar</h2>
<form action="/action_page.php">
    <input type="checkbox" id="avitar1" name="avitar1" value="DIY">
    <label for="avitar1"><img class="minion" id="mm_logo" src="../assets/img/diy.png"></label><br>
    <input type="checkbox" id="avitar2" name="avitar2" value="Karate">
    <label for="avitar2"><img class="minion" id="mm_logo" src="../assets/img/karate.png"></label><br>
    <input type="checkbox" id="avitar3" name="avitar3" value="Music">
    <label for="avitar3"><img class="minion" id="mm_logo" src="../assets/img/music.png"></label><br>
    <input type="checkbox" id="avitar4" name="avitar4" value="Travel">
    <label for="avitar4"><img class="minion" id="mm_logo" src="../assets/img/travel.png"></label><br>
    <input type="checkbox" id="avitar5" name="avitar5" value="Weight-Lifting">
    <label for="avitar5"><img class="minion" id="mm_logo" src="../assets/img/weight-lifting.png"></label><br>
    <input type="checkbox" id="avitar6" name="avitar6" value="Wrestling">
    <label for="avitar6"><img class="minion" id="mm_logo" src="../assets/img/wrestling.png"></label><br>
</form>

<h2>Select New Hobby</h2>
<form action="/action_page.php">
    <input type="checkbox" id="hobby1" name="hobby1" value="DIY">
    <label for="hobby1">DIY</label><br>
    <input type="checkbox" id="hobby2" name="hobby2" value="Karate">
    <label for="hobby2">Karate</label><br>
    <input type="checkbox" id="hobby3" name="hobby3" value="Music">
    <label for="hobby3">Music</label><br>
    <input type="checkbox" id="hobby4" name="hobby4" value="Travel">
    <label for="hobby4">Travel</label><br>
    <input type="checkbox" id="hobby5" name="hobby5" value="Weight-Lifting">
    <label for="hobby5">Weight-Lifting</label><br>
    <input type="checkbox" id="hobby6" name="hobby6" value="Wrestling">
    <label for="hobby6">Wrestling</label><br>
</form>

<h2>Change Personal Statement</h2>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Personal Statement (1 - 250 characters)</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
</form>