<h1>Settings</h1>

<h2>Select New Avatar</h2>
<form action="/action_page.php">
    <input type="checkbox" id="avatar1" name="avatar1" value="DIY">
    <label for="avatar1"><img class="avatar" id="diy" src="../assets/img/diy.png"></label><br>
    <input type="checkbox" id="avatar2" name="avatar2" value="Karate">
    <label for="avatar2"><img class="avatar" id="karate" src="../assets/img/karate.png"></label><br>
    <input type="checkbox" id="avatar3" name="avatar3" value="Music">
    <label for="avatar3"><img class="avatar" id="music" src="../assets/img/music.png"></label><br>
    <input type="checkbox" id="avatar4" name="avatar4" value="Travel">
    <label for="avatar4"><img class="avatar" id="travel" src="../assets/img/travel.png"></label><br>
    <input type="checkbox" id="avatar5" name="avatar5" value="Weight-Lifting">
    <label for="avatar5"><img class="avatar" id="weight-lifting" src="../assets/img/weight-lifting.png"></label><br>
    <input type="checkbox" id="avatar6" name="avatar6" value="Wrestling">
    <label for="avatar6"><img class="avatar" id="wrestling" src="../assets/img/wrestling.png"></label><br>
</form>

<h2>Select New Hobby</h2>
<form action="/action_page.php">
    <input type="checkbox" id="hobby1" name="hobby1" value="DIY">
    <label for="hobby1">DIY</label><br>
    <input type="checkbox" id="hobby2" name="hobby2" value="Karate">
    <label for="hobby2">Karate</label><br>
    <input type="checkbox" id="hobby3" name="hobby3" value="Music">
    <label for="hobby3">Music</label><br>
    <input type="checkbox" id="hobby4" name="hobby4" value="Travel">
    <label for="hobby4">Travel</label><br>
    <input type="checkbox" id="hobby5" name="hobby5" value="Weight-Lifting">
    <label for="hobby5">Weight-Lifting</label><br>
    <input type="checkbox" id="hobby6" name="hobby6" value="Wrestling">
    <label for="hobby6">Wrestling</label><br>
</form>

<h2>Change Personal Statement</h2>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Personal Statement (1 - 250 characters)</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
</form>