<h2>Create your account now!</h2>

<div class="container">
    <form id="signup-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <textarea class="form-control" id="username" rows="1"></textarea>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm">
        </div>

        <!-- If the password and passwordComfirm don't match, message will be displayed here. -->
        <div class="mb-3">
            <p id="message" class="text-danger"></p>
        </div>

        <button id="signup-btn" type="submit" class="btn btn-primary">Submit</button>
        <div id="abc" style="background-color:red;width:76px;text-align:center;margin-top:2px;">Hi!</div>
    </form>
</div>


<script type="text/javascript" src="/assets/js/signup.js"></script>