<h2>Create your account now!</h2>

<div class="container">
    <form id="signup-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <textarea class="form-control" id="username" rows="1"></textarea>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm">
        </div>

        <!-- If the password and passwordComfirm don't match, message will be displayed here. -->
        <div class="mb-3">
            <p id="message" class="text-danger"></p>
        </div>

        <div class="mb-3">
            <p>Select your favorite hobby:</p>
            <br>
            <input class="hobby" type="checkbox" name="diy">
            <label class="hobby" for="diy">DIY</label>
            <br>
            <input class="hobby" type="checkbox" name="wrestling">
            <label class="hobby" for="wrestling">Wrestling</label>
            <br>
            <input class="hobby" type="checkbox" name="d&d">
            <label class="hobby" for="d&d">D&amp;D</label>
            <br>
            <input class="hobby" type="checkbox" name="music">
            <label class="hobby" for="music">Music</label>
            <br>
            <input class="hobby" type="checkbox" name="travel">
            <label class="hobby" for="travel">Travel</label>
            <br>
            <input class="hobby" type="checkbox" name="karate">
            <label class="hobby" for="karate">Karate</label>
            <br>
            <input class="hobby" type="checkbox" name="weight-lifting">
            <label class="hobby" for="weight-lifting">Weight Lifting</label>
        </div>

        <div class="mb-3">
            <button id="signup-btn" type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>


<script type="text/javascript" src="/assets/js/signup.js"></script>
